---
layout: default
title: Home
---
<div class="docs-section" id="news">
  <h5>Updates</h5>
  <div class="timeline">
    {% for year in site.data.news.news %}
    <ul>
      {% for news in year[1] %}
      <li>
        <div class="event-container">
          <span class="date" style="color: #76236C;">[{{ news[0] }}]</span>
          <span class="event">{{ news[1] }}</span>
          
        </div>
      </li>
      {% endfor %}
      <!-- <span class="year">{{ year[0] }}</span>
      <span class="bar"></span> -->
    </ul>
    {% endfor %}
  </div>
</div>
<!-- ========== PUBLICATIONS ========== -->


    <div class="docs-section" id="featured">
      <h5>Featured</h5>
      {% include featured.html %}
    </div>
<div class="docs-section" id="publications">
  <h5>Publications</h5>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <b><sup class="dagger-bold">‡</sup> indicates equal contribution.</b>
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-all">All</div></li>
    <li><div class="button" data-ref="#papers-accepted">Accepted</div></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="papers-all">
      <div class="paper">
        {% for paper in site.data.publications.papers %}
        {% include publications.html %}
        {% endfor %}
    </div>
  </div>
    <div class="tab-pane" id="papers-accepted">
      <div class="paper">
      {% assign accepted_papers = site.data.publications.papers | where: "accepted", "y" %}
      {% for paper in accepted_papers %}
        {% include publications-accepted.html %}
        {% endfor %}
  </div>
</div>

<div class="docs-section" id="experiences">
  <h5>Experiences</h5>

  <table width="100%" align="center" border="0" cellpadding="20">
    {% for experience in site.data.experiences.experiences %}
    <tr>
      <td style="width:10%;vertical-align:middle;padding:0 35px;"><img style="width: 130px;" src="{{ experience.image }}"></td>
      <td width="90%" valign="center">
        {{ experience.title }} at <a target="_blank" href="{{ experience.link }}">{{ experience.place }}</a></a>
        <div>{{ experience.location }}</div>
        <em>{{ experience.date }}</em>
      </td>
    </tr>
    {% endfor %}
  </table>

</div>


<!-- <div class="docs-section" id="projects">
  <h4>Projects</h4>
  <div class="tab-content">
      {% for project in site.data.projects.projects %}
        {% include projects.html %}
      {% endfor %}
  </div>
</div> -->

<!-- ========== RESUME ========== -->
<!-- <div class="docs-section" id="cv">
  <h4>Curriculum Vitae</h4>

  <p>Full curriculum vitae in <a href={{ "/assets/cv/cv_andrew_lee.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>
</div> -->

