<table style="margin-bottom: 0px;">
    <tr onmouseout="{{paper.abbv}}_stop()" onmouseover="{{paper.abbv}}_start()">
      <td style="padding:20px;width:10%;vertical-align:middle">
        <div class="one">
          <div class="two" id='{{paper.abbv}}'>
            
            <video style="object-fit: cover; border-radius: 50%;" width=100% height=100% muted autoplay loop>
              <source src="{{ paper.thumbnail_video }}" type="video/mp4">
          Your browser does not support the video tag.
              </video>
            </div>
            <img style="object-fit: cover; border-radius: 50%;" src='{{ paper.thumbnail_image }}' width="160">
          
        </div>
        <script type="text/javascript">
          function {{paper.abbv}}_start() {
            document.getElementById('{{paper.abbv}}').style.opacity = "1";
          }
  
          function {{paper.abbv}}_stop() {
            document.getElementById('{{paper.abbv}}').style.opacity = "0";
          }
          {{paper.abbv}}_stop()
        </script>
        {% if paper.venue_abbr %}
        <div class="venue-tag">{{ paper.venue_abbr }}</div>
      {% endif %}
      </td>
      <td style="padding:20px;width:90%;vertical-align:middle">
        <b><span class="papertitle">{{ paper.title }}</span></b>
        <p>
          {% for author in paper.authors %}
          {% assign last_author = forloop.last %}
          
          {% if author contains "*" %}
            <!-- Remove the "*" and look up the author in coauthors -->
            {% assign clean_author = author | replace: "*", "" %}
            {% if clean_author == site.data.main_info.name %}
              <b>{{clean_author}}</b><sup>‡</sup>
            {% else %}
              <a href="{{ site.data.coauthors.coauthors[clean_author] }}">{{ clean_author }}</a><sup>‡</sup>
            {% endif %}
          {% else %}
          {% if author == site.data.main_info.name %}
          <b>{{author}}</b>
        {% else %}
        {% if site.data.coauthors.coauthors[author] %}
            <a href="{{ site.data.coauthors.coauthors[author] }}">{{ author }}</a>
          {% else %}
            {{ author }}
            {% endif %}
          {% endif %}
          {% endif %}
          
          <!-- Add a comma unless this is the last author -->
          {% unless last_author %}
          ,
          {% endunless %}
        {% endfor %}
        
        
        </p>
        {% if paper.venue %}
          <p><em>{{ paper.venue }}</em></p>
        {% endif %}
        <div style="margin-top: 5px;">
        {% for link in paper.links %}
        <a class="button button-link" href="{{ link[1] }}" target="_blank">{{link[0]}}</a>
      {% endfor %}
    </div>
        <!-- <p>{{ paper.abstract }}</p> -->
      </td>
    </tr>
  </table>