<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}

<!-- Default Statcounter code for github.io
http://andrewcwlee.github.io -->
<script type="text/javascript">
    var sc_project=13038607; 
    var sc_invisible=1; 
    var sc_security="3051b5a8"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/13038607/0/3051b5a8/1/"
    alt="Web Analytics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->