@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

a {
    color:  #008EAA;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.badge-paper {
    background-color:  #1D4776;
    color: white;
}

.badge-code {
    background-color: #266041;
    color: white;
}

.email-text {
    font-family: Courier, monospace;
}

blockquote {
    font-style: italic;
    color: #555;
    border-left: 10px solid #3498db;
    background: #ecf5fc;
    padding: 15px 20px;
    margin: 20px 0;
    width: 100%;
    position: relative;
}

blockquote::before {
    content: '\f10d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
}

.gradient-color {
    font-weight: 900;
    background: linear-gradient(180deg, #b31e8d, #652d90 51%, #00819a);
    background: -webkit-linear-gradient(180deg, #b31e8d, #652d90 51%, #00819a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.davis-color {
    font-weight: 900;
    background: linear-gradient(45deg, #022851, #FFBF00);
    background: -webkit-linear-gradient(45deg, #022851, #FFBF00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.germany-color {
    font-weight: 900;
    background: linear-gradient(135deg, #000000, #DD0000 51%, #FFCC00 );
    background: -webkit-linear-gradient(135deg, #000000, #DD0000 51%, #FFCC00 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.usa-color {
    font-weight: 900;
    background: linear-gradient(135deg, #0A3161, #DDDDDD 45%,  #B31942);
    background: -webkit-linear-gradient(135deg, #0A3161, #DDDDDD 45%,  #B31942);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.korea-color {
    font-weight: 900;
    background: linear-gradient(90deg, #CD2E3A,  #FFFFFF, #0F64CD 51%,#000000);
    background: -webkit-linear-gradient(90deg, #CD2E3A,  #FFFFFF, #0F64CD 51%,#000000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}